<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      >

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <a th:href="@{/admin/edit(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/delete(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/admin/add">Add new user</a>
<a href="/logout">Logout</a>
</body>
</html>